apiVersion: v1
kind: Service
metadata:
  name: coredns
  namespace: kube-system
spec:
  selector:
    k8s-app: coredns
  clusterIP: 10.96.0.10 # This IP should match your cluster's DNS IP
  ports:
  - name: dns
    port: 53
    targetPort: 53
    protocol: UDP
  - name: dns-tcp
    port: 53
    targetPort: 53
    protocol: TCP
  type: ClusterIP
