---
{{ if .Values.configs.lmcache.enable }}
{{ if eq .Values.configs.lmcache.cache_type "local_storage" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configs.name }}-lmcache-config
  namespace: {{ .Values.namespace }}
data:
  lmcache.yaml: |
    chunk_size: 256
    local_cpu: false
    max_local_cpu_size: 5.0
    local_disk: "file:///mnt/lmcache"
    max_local_disk_size: 5.0
{{ end }}
{{ end }}
