# CoreDNS service configs
global:
  dnsService: "coredns"
  dnsNamespace: "kube-system"

# Embedded Loki configs
loki:
   schemaConfig:
     configs:
       - from: "2024-04-01"
         store: tsdb
         object_store: s3
         schema: v13
         index:
           prefix: loki_index_
           period: 24h
   ingester:
     chunk_encoding: snappy
   querier:
     max_concurrent: 4 # reduce if OOMKilled
   pattern_ingester:
     enabled: true
   limits_config:
     allow_structured_metadata: true
     volume_enabled: true

# Can be (Distributed, SimpleScalable, or SingleBinary)       
deploymentMode: SimpleScalable

backend:
   replicas: 2
read:
   replicas: 2
write:
   replicas: 2

# This exposes the Loki gateway so it can be written to and queried externaly
gateway:
   service:
     type: NodePort


# Enable minio for storage
minio:
  enabled: true

