# namespace configs
namespace: llm-servings

# model configs
configs:
  name: qwen-qwen
  serve:
    - >
      vllm serve Qwen/Qwen2.5-1.5B-Instruct
      --host 0.0.0.0
      --port 8000
      --tensor-parallel-size 1
      --no-enable-prefix-caching
      --trust-remote-code
      --seed 0
      --gpu-memory-utilization 0.95
