# namespace configs
namespace: llm-servings

# model configs
configs:
  name: facebook-opt
  serve:
    - >
      vllm serve facebook/opt-125m
      --host 0.0.0.0
      --port 8000
      --tensor-parallel-size 1
      --no-enable-prefix-caching
      --trust-remote-code
      --seed 0
      --gpu-memory-utilization 0.95

# service id
serviceid: 1
